{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加任务</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
<div class="main">
    <form>
    {% csrf_token %}
        {% bootstrap_icon "camera" %}
        <input type="text" button-tooltip="输入正整数">
        {% bootstrap_button '开机' size='small' button_class="btn-primary"%}
        {% bootstrap_button '关机' size='small' button_class="btn-danger" %}
    </form>
</div>

</body>
<script>
    var $main = $('.main');

    function open_s(){
        options={
            url: "",
            type: "post",
            success: function (data) {
                $main.after('开机\n\n')
            }
        };
        $.ajax(options);
    }

    function close_s(){
        $main.after('开始关闭\n\n');
{#        $main.after('已关闭\n\n');#}
    }
</script>
</html>