{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加任务</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
<div class="container" style="width: 50%;">
    <form id="form" role="form">
    {% csrf_token %}
        <div class="form-group">
        {% bootstrap_label "多久执行一次任务：" label_for="seconds" %}
        <input type="text" name="seconds" placeholder="输入正整数"  class="form-control">
        </div>

        {% bootstrap_button '开机' size='small' button_class="btn-primary open"%}
        {% bootstrap_button '关机' size='small' button_class="btn-danger close" %}
    </form>
</div>

</body>
<script>
    var $main = $('.main');

    function open_s(){
        console.log($('#form').serialize());

        options={
            url: "",
            type: "post",
            data: $('#form').serialize(),
            success: function (data) {
                console.log(data)
                $main.after('开机\n\n')
            }
        };
        $.ajax(options);
    }

    $(function () {
        $('.open').click(open_s);
    })
</script>
</html>