{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加任务</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
<div class="container" style="width: 50%;">
    <form id="form" role="form" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_label "多久执行一次任务：" label_for="seconds" %}
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <input type="datetime" name="seconds" placeholder="输入正整数"  class="form-control">
        </div>
        <div class="form-group">
            {% bootstrap_button '开机' size='small' button_class="btn-primary"%}
            {% bootstrap_button '关机' size='small' button_class="btn-danger" %}
        </div>
    </form>
</div>

</body>
</html>