{% extends "base_list.html" %}

{% block description %}
    其它资源都必须添加到相应的节点上，所以节点起码要有一个
{% endblock %}

{% block content %}
    <button class="btn btn-primary btn-sm" id="add">添加</button>
    <div class="row">
        <div class="col-xs-12">
            <table id="mytable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th data-rel="机构名称">机构名称</th>
                    <th>机构分类</th>
                    <th>机构地址</th>
                    <th>联系人</th>
                    <th>备注</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}


{% block list_scripts %}
    <script type="text/javascript">

    $(function () {
        var node_option = {
            "serverSide": true,
            "ajax": "{% url 'proxy_list_json' %}", //给服务器发请求的url
            dom: 'Bfrtip',
            buttons: ['colvis', 'excel', 'print']

        };
        var option = $.extend(true, node_option, dt_option);
        var table = $('#mytable').dataTable(option);
        console.log(table);

    })
    </script>

{% endblock %}