{% extends "base_list.html" %}

{% block description %}
    其它资源都必须添加到相应的节点上，所以节点起码要有一个
{% endblock %}


{#{% block table_th %}#}
{##}
{#<th>机构名称</th>#}
{#<th>机构分类</th>#}
{#<th>机构地址</th>#}
{#<th>联系人</th>#}
{#<th>备注</th>#}
{##}
{#{% endblock %}#}

{##}
{##}
{#{% block table_td %}#}
{##}
{#<td>{{object.node_name}}</td>#}
{#<td>{{object.node_type}}</td>#}
{#<td>{{object.node_address}}</td>#}
{#<td>{{object.node_contact}}</td>#}
{#<td>{{object.node_remarks}}</td>#}
{##}
{#{% endblock %}  #}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="mytable" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>机构名称</th>
                    <th>机构分类</th>
                    <th>机构地址</th>
                    <th>联系人</th>
                    <th>备注</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}


{% block list_scripts %}
    <script type="text/javascript">
        var node_option = {
            "serverSide": true,
            "ajax": "{% url 'proxy_list_json' %}", //给服务器发请求的url
        };
        var option = $.extend(true, node_option, dt_option);
        $('#mytable').dataTable(option);

    </script>

{% endblock %}